@font-face {
    font-family: head-font;
    src: url('ChelseaMarket-Regular.ttf');
}

@font-face {
    font-family: par-font;
    src: url('Sarabun-Regular.ttf')
}

html, body {
    height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Chelsea Market', head-font;
}

p {
    font-family: 'Sarabun', par-font;
    font-size: large;
}

.opening {
    display: initial;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: yellow;
    position: absolute;
    animation-name: slide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.opening-content {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@keyframes slide {
    0% {
        right: 0px;
    }
    100% {
        right: 100%;
    }
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

.beranda {
    height: 100%;
    /* margin-top: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .my-menu {
    height: 100%;
    padding: 3rem;
} */

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
}