@font-face {
    font-family: myfont;
    src: url('Sarabun-Regular.ttf')
}

html, body {
    height: 100%;
}

h1, h2 {
    text-align: center;
    font-family: 'Sarabun', myfont;
}

h1 {
    font-weight: bold;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration-line: inherit;
}

p {
    font-family: 'Sarabun', myfont;
    font-size: large;
}

.opening {
    display: initial;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    animation-name: slide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.opening-content {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@keyframes slide {
    0% {
        right: 0px;
    }
    100% {
        right: 100%;
    }
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

.beranda {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.materi {
    padding: 3rem;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
}

.up-button {
    position: fixed;
    right: 1.7rem;
    bottom: -3rem;
    border-radius: 50%;
    animation-duration: 500ms;
    /* animation-play-state: paused; */
    animation-fill-mode: forwards;
}

@keyframes showUpButton {
    0% {
        bottom: -3rem;
    }
    100% {
        bottom: 1.7rem;
    }
}

@keyframes hideUpButton {
    0% {
        bottom: 1.7rem;
    }
    100% {
        bottom: -3rem;
    }
}

.container-soal {
    padding-top: 56px;
    background-color: yellow;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.soal {
    background-color: #343a40;
    width: 80%;
    height: 80%;
    padding: 1rem 2rem 1rem 2rem;
    color: #f8f9fa;
    
}

.nav-soal {
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
}

::-webkit-scrollbar {
    width: 20px;
}